/* GENERAL */
:root {
    --light-primary: #FFFFFF;
    --dark-primary: #000000;
    --light-green: #1ABC9C;
    --dark-blue-night: #2C3E50;
    --light-blue-night: #3A546D;
    --dark-text: #333333;
}

body {
    background-color: var(--light-primary);
    color: var(--light-primary);
    font-weight: 600;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* SECTION */

/* HEADER */
header, .dc-footer-bottom {
    background-color: var(--dark-blue-night);
}

header button{
    box-shadow: 0 0 0px 0px var(--light-blue-night) !important;
    border: 1px solid var(--light-primary) !important;
    filter: brightness(10000);
}


/* MAIN */
main {
    padding-top: 56px;
}

#hero, #about  {
    background-color: var(--light-green);
}

.dc-avatar {
    width: 200px;
}

#portfolio, #contact {
    color: var(--dark-text);
}

/* FOOTER */
.dc-footer-top {
    background-color: var(--light-blue-night);
}

.dc-text-green {
    color: var(--light-green);
}